{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
{{ form_start(formNewPassword) }}

	
		<h1 class="h3 mb-3 font-weight-normal">Saisissez votre nouveau mot de passe</h1>
		<div class="form-group">
		{{ form_widget(formNewPassword.password)}}
		{{ form_errors(formNewPassword.password) }}
	</div>
		<button class="btn btn-lg btn-primary" type="submit">
			Envoyer
		</button>
{{ form_end(formNewPassword) }}
{% endblock %}
