{% extends "base.html.twig" %}

{% block body %}

    {% for film in films %}
        <article>
             <h5> nombre de reservation pour le film "{{ film.titre }} ": {{ reservationByFilm[film.id] }} Réservations</h5>
                    
            <div class="content">
                <img src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}">
            </div>
        </article>
    {% endfor %}

{% endblock %}
