{% extends "base.html.twig" %}

{% block body %}

    {% for film in films %}
        <article>
             <h1> nombre de reservation pour le film {{ film.titre }} : {{ reservationByFilm[film.id] }} Réservations</h1>
                    
            <div class="content">
                <img src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}">
            </div>
        </article>
    {% endfor %}

{% endblock %}
