{% extends "base.html.twig" %}

{% block body %}


<h4>Bienvenue {{ user.nom}} {{user.prenom }}</h4>
<br>
<div class="form-group">
<a href="{{ path('commande')}}" class="btn btn-outline-success">Mes commandes</a>
<br>
<br>
<a href="#" class="btn btn-outline-primary">Gérer votre compte </a><br>
<br>
</div>


{% endblock %}