{% extends "base.html.twig" %}

{% block body %}
	{% for film in films %}

		<article>
			<h2>
				{{ film.titre}}
			</h2>
			<div class="content">

					<img src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}">
						<a href="{{ path('film_show', {'id': film.id}) }}" class="btn btn-primary"> Sélectionner le film</a>

			</div>
		</article>
	{% endfor %}

{% endblock %}
